{% extends "layouts/auth.html" %}
{% block title %}Choose a new password{% endblock %}
{% block card %}
{% if validlink %}
<header>
  <h1>Choose a new password</h1>
  <p>Use at least 8 characters. Avoid passwords you use elsewhere.</p>
</header>
<form method="post" class="form" novalidate>
  {% csrf_token %}
  {% include "partials/field.html" with field=form.new_password1 %}
  {% include "partials/field.html" with field=form.new_password2 %}
  <button type="submit" class="btn btn-primary btn-block">Save new password</button>
</form>
{% else %}
<header>
  <h1>This reset link has expired</h1>
  <p>Reset links work once. Request a new one to continue.</p>
</header>
<a class="btn btn-primary btn-block" href="{% url 'accounts:password-reset' %}">Request a new link</a>
{% endif %}
{% endblock %}
